body {
    background-color: rgb(98, 167, 98);
    color: white;
    font-family: "Playwrite CU", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 25px;
}

button {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: "PT Serif", serif;
}

.passo {
    display: none;

}

.passo.ativo {
    display: block;

}

main {
    max-width: 90%;
    text-align: center;

}

img{
max-width: 80%;

}